<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>FormularioArticulos</display-name>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <description>consulta articulos</description>
    <display-name>consulta articulos</display-name>
    <servlet-name>Servlet_articulos</servlet-name>
    <servlet-class>com.atrium.servlet.Servlet_articulos</servlet-class>
  </servlet>
  <servlet>
    <description>Servicio de consulta de articulos</description>
    <display-name>Servicio de consulta de articulos</display-name>
    <servlet-name>Servlet_Articulos</servlet-name>
    <servlet-class>com.atrium.servlet.Servlet_Articulos</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>Servlet_articulos</servlet-name>
    <url-pattern>/servlet/Servlet_articulos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet_Articulos</servlet-name>
    <url-pattern>/servlet/Servlet_Articulos</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>
</web-app>